<ion-header>
  <ion-toolbar color="primary">

    <ion-button (click)="ngOnInit()">
      <ion-icon name="logo-ionic"></ion-icon>
      <ion-badge color="warning" mode="md" *ngIf="ifUpdate == true">Updates!</ion-badge >
    </ion-button>

    <ion-title>Referencias</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()">
        <ion-icon name="person-circle-outline" style="height: 25px; width: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list scrollX="false">
    <ion-item *ngFor="let item of coll_data" (click)="ref()" [routerLink]="['/referencias', item.idreferencia]" style="padding: 10px 0 ">

      <ion-avatar slot="start">
        <ion-img [src]="item.photoURL"></ion-img>
      </ion-avatar>
      <ion-label>{{item.titulopub}}</ion-label>

    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="" (click)="addNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<ion-footer class="ion-no-border">
  <!--<ion-toolbar>
    <ion-button expand="block" (click)="addNew()">Agregar Referencia</ion-button>
  </ion-toolbar>-->
</ion-footer>