<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="logo-ionic"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Referencias</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()">
        <ion-icon name="person-circle-outline" style="height: 25px; width: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of data" [routerLink]="['/referencias', item.idreferencia]">
      <ion-card-content>

        <ion-item>
          <ion-label position="floanting"> Título publicación: </ion-label>
          <ion-label type="text">{{item.titulopub}}</ion-label>
        </ion-item>

       </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>

<ion-footer collapse="fade ">
  <ion-toolbar>
    <ion-button expand="block" (click)="addNew()">Agregar Referencia</ion-button>
  </ion-toolbar>
</ion-footer>