<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sesion"></ion-back-button>
    </ion-buttons>

    <ion-title>Registro</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="auth-form">
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
 
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" #mail formControllerName="email"></ion-input>
        </ion-item>
        <!--<ion-item *ngIf="email.invalid && email.touched" lines="none">
          <ion-text color="danger" class="form-error">
            Please enter a valid email address.
          </ion-text>
        </ion-item>-->

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" #pass formControllerName="password"></ion-input>
        </ion-item>
        <!--<ion-item *ngIf="password.invalid && password.touched" lines="none">
          <ion-text color="danger" class="form-error">
            Password is required.
          </ion-text>
        </ion-item>-->

        <ion-item>
          <ion-label position="floating">Confirmación Contraseña </ion-label>
          <ion-input type="password" #cpass formControllerName="confirmPassword"></ion-input>
        </ion-item>
        <!--<ion-item *ngIf="form.hasError('notEqual') && confirmPassword.touched" lines="none">
          <ion-text color="danger" class="form-error">
            Passwords does not match.
          </ion-text>
        </ion-item>-->
        
        <ion-button type="submit" expand="block" (click)="register(mail, pass, cpass)">Registrarse</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
