<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sesion"></ion-back-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline" style="height: 25px; width: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" formControllerName="password" value="{{user.displayName}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" formControllerName="email" value="{{user.email}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">PhotoURL</ion-label>
    <ion-input type="text" formControllerName="password" value="{{user.photoURL}}"></ion-input>
  </ion-item>
  
</ion-content>
